@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter var, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter var!important;
}

.embla {
  overflow: hidden;
  border-radius: 16px;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.monaco-editor {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}